<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/register">Register</a>
<a href="/login">Login</a>
<br>
<a href="/main">Main page</a>
<br>
<a href="/secret">Page only for registered users</a>